<% 
    dst = Time.now.dst?
    london_time = dst == true ? (Time.now.utc + 3600).hour : Time.now.utc.hour
    newyork_time = dst == true ? (Time.now.utc - 3600*4).hour : (Time.now.utc - 3600*5).hour
    tokio_time = (Time.now.utc + (3600 * 9)).hour
    sydney_time = dst == true ? (Time.now.utc + 3600*11).hour : (Time.now.utc + 3600*10).hour

    @time = Time.now.utc.hour
%>
<table class="table">
    <tr>
        <td>London</td>
        <td><span class="glyphicon glyphicon-time <%= (london_time >= 8 && london_time < 16) ? "open" : "closed" %>" aria-hidden="true"></span></td>
        <td><span class="glyphicon glyphicon-time <%= (london_time >= 8 && london_time < 16) ? "open" : "closed" %>" aria-hidden="true"></span></td>
        <td><span class="glyphicon glyphicon-time <%= (london_time >= 8 && london_time < 16) ? "open" : "closed" %>" aria-hidden="true"></span></td>
        <td><span class="glyphicon glyphicon-time <%= (london_time >= 8 && london_time < 16) ? "open" : "closed" %>" aria-hidden="true"></span></td>
        <td><span class="glyphicon glyphicon-time <%= (london_time >= 8 && london_time < 16) ? "open" : "closed" %>" aria-hidden="true"></span></td>
        <td><span class="glyphicon glyphicon-time <%= (london_time >= 8 && london_time < 16) ? "open" : "closed" %>" aria-hidden="true"></span></td>
        <td><span class="glyphicon glyphicon-time <%= (london_time >= 8 && london_time < 16) ? "open" : "closed" %>" aria-hidden="true"></span></td>
        <td><span class="glyphicon glyphicon-time <%= (london_time >= 8 && london_time < 16) ? "open" : "closed" %>" aria-hidden="true"></span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>New York</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><span class="glyphicon glyphicon-time <%= (newyork_time >= 8 && newyork_time < 16) ? "open" : "closed" %>" aria-hidden="true"></span></td>
        <td><span class="glyphicon glyphicon-time <%= (newyork_time >= 8 && newyork_time < 16) ? "open" : "closed" %>" aria-hidden="true"></span></td>
        <td><span class="glyphicon glyphicon-time <%= (newyork_time >= 8 && newyork_time < 16) ? "open" : "closed" %>" aria-hidden="true"></span></td>
        <td><span class="glyphicon glyphicon-time <%= (newyork_time >= 8 && newyork_time < 16) ? "open" : "closed" %>" aria-hidden="true"></span></td>
        <td><span class="glyphicon glyphicon-time <%= (newyork_time >= 8 && newyork_time < 16) ? "open" : "closed" %>" aria-hidden="true"></span></td>
        <td><span class="glyphicon glyphicon-time <%= (newyork_time >= 8 && newyork_time < 16) ? "open" : "closed" %>" aria-hidden="true"></span></td>
        <td><span class="glyphicon glyphicon-time <%= (newyork_time >= 8 && newyork_time < 16) ? "open" : "closed" %>" aria-hidden="true"></span></td>
        <td><span class="glyphicon glyphicon-time <%= (newyork_time >= 8 && newyork_time < 16) ? "open" : "closed" %>" aria-hidden="true"></span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Sydney</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><span class="glyphicon glyphicon-time <%= (sydney_time >= 8 && sydney_time < 16) ? "open" : "closed" %>" aria-hidden="true"></span></td>
        <td><span class="glyphicon glyphicon-time <%= (sydney_time >= 8 && sydney_time < 16) ? "open" : "closed" %>" aria-hidden="true"></span></td>
        <td><span class="glyphicon glyphicon-time <%= (sydney_time >= 8 && sydney_time < 16) ? "open" : "closed" %>" aria-hidden="true"></span></td>
        <td><span class="glyphicon glyphicon-time <%= (sydney_time >= 8 && sydney_time < 16) ? "open" : "closed" %>" aria-hidden="true"></span></td>
        <td><span class="glyphicon glyphicon-time <%= (sydney_time >= 8 && sydney_time < 16) ? "open" : "closed" %>" aria-hidden="true"></span></td>
        <td><span class="glyphicon glyphicon-time <%= (sydney_time >= 8 && sydney_time < 16) ? "open" : "closed" %>" aria-hidden="true"></span></td>
        <td><span class="glyphicon glyphicon-time <%= (sydney_time >= 8 && sydney_time < 16) ? "open" : "closed" %>" aria-hidden="true"></span></td>
        <td><span class="glyphicon glyphicon-time <%= (sydney_time >= 8 && sydney_time < 16) ? "open" : "closed" %>" aria-hidden="true"></span></td>
    </tr>
    <tr>
        <td>Tokio</td>
        <td><span class="glyphicon glyphicon-time <%= (tokio_time >= 8 && tokio_time < 16) ? "open" : "closed" %>" aria-hidden="true"></span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><span class="glyphicon glyphicon-time <%= (tokio_time >= 8 && tokio_time <16) ? "open" : "closed" %>" aria-hidden="true"></span></td>
        <td><span class="glyphicon glyphicon-time <%= (tokio_time >= 8 && tokio_time <16) ? "open" : "closed" %>" aria-hidden="true"></span></td>
        <td><span class="glyphicon glyphicon-time <%= (tokio_time >= 8 && tokio_time <16) ? "open" : "closed" %>" aria-hidden="true"></span></td>
        <td><span class="glyphicon glyphicon-time <%= (tokio_time >= 8 && tokio_time <16) ? "open" : "closed" %>" aria-hidden="true"></span></td>
        <td><span class="glyphicon glyphicon-time <%= (tokio_time >= 8 && tokio_time <16) ? "open" : "closed" %>" aria-hidden="true"></span></td>
        <td><span class="glyphicon glyphicon-time <%= (tokio_time >= 8 && tokio_time <16) ? "open" : "closed" %>" aria-hidden="true"></span></td>
        <td><span class="glyphicon glyphicon-time <%= (tokio_time >= 8 && tokio_time <16) ? "open" : "closed" %>" aria-hidden="true"></span></td>
    </tr>
</table>