<div class="row">
  <%= form_tag('/oanda_api', method: :get) do %>
    <%= select_tag "granuality", options_for_select(@options_for_select, @granuality)%>
    <%= submit_tag("Granuality")  %>
  <% end %>
</div>
  
   

<div class="row">
  <% @candles.each_with_index do |c, i| %>
    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Candle <%= i %></h3>
        </div>
        <div class="panel-body">
          <p>complete: <%= c.complete? %></p>
          <p>open: <%= c.open_mid %></p>         
          <p>close: <%= c.close_mid %></p>        
          <p>high: <%= c.high_mid %></p>
          <p>low: <%= c.low_mid %></p>
          <p>time: <%= c.time %></p>
          <p>volume: <%= c.volume %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>

 <%= @rsi %>
