<h3>Account Information</h3>
<p>Open orders: <%= @open_orders %></p>
<p>Open trades: <%= @open_trades %></p>
<p>Balance: <%= @balance %></p>
<p>Account currency: <%= @account_currency %></p>

<%= link_to "Index", root_path %>
