<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Candle Instruments:</h3>
      </div>
      <div class="panel-body">  
        <%= form_tag(candles_path, method: :get) do %>
          <%= label_tag "Instrument" %>
          <%= select_tag "instrument", options_from_collection_for_select(Instrument.all, "instrument", "instrument") %>

          <%= label_tag "Granularity:"  %>
          <%= select_tag "granularity", options_from_collection_for_select(Granularity.all, "granularity", "granularity")  %>

          <%= label_tag "Number of Candles:" %>
          <%= text_field_tag "count", nil, placeholder: "100" %>

          <%= submit_tag("Get Candles")  %>
        <% end %>
      </div>
    </div>
  </div>
</div>
  
   

<div class="row">
  <% @candles.each_with_index do |c, i| %>
    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Candle <%= i %></h3>
        </div>
        <div class="panel-body">
          <p>complete: <%= c.complete? %></p>
          <p>open: <%= c.open_mid %></p>         
          <p>close: <%= c.close_mid %></p>        
          <p>high: <%= c.high_mid %></p>
          <p>low: <%= c.low_mid %></p>
          <p>time: <%= c.time %></p>
          <p>volume: <%= c.volume %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>

