<h1>Place order</h1>

<%= form_for :order, url: orders_path do |f| %>
  <%= f.label 'Instrument' %>
  <%= f.select 'instrument', options_from_collection_for_select(Instrument.all, 'instrument', 'instrument') %>

  <%= f.label 'Type'%>
  <%= f.select 'type', options_for_select(@options_for_type, @type) %>

  <%= f.label 'Side' %>
  <%= f.select 'side', options_for_select(@options_for_side, @side) %>

  <%= f.label 'Units' %>
  <%= f.text_field 'units' %>

  <%= f.submit("Place Order") %>
<% end %>
